body {
    background-color: #faeddf;
}

.items {
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.item {
    width: fit-content;
}

.itemimg {
    height: 27vh;
}

.imgtitle {
    position: relative;
    top: 35px;
    width: 100%;
    text-align: center;
    color: #0e5540;
    font-weight: bold;
    font-size: 20px;
}

.arrivals {
    padding: 2vh 2vw;
}

.arrows {
    display: flex;
    gap: 30px;
}

.arrow {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.downarr {
    height: 3vh;
}

.i {
    color: gray;
}

.arrivals {
    display: flex;
    justify-content: space-between;
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 3;
}

.container {
    display: flex;
    min-height: 96vh;
}

.topcontainer {
    background-color: #F5A623;
}

.left-panel {

    padding: 5.56vh 2.08vw;
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    margin-bottom: 40px;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px;
    color: #000;
}

p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #000;
}

.bread-image {
    width: 280px;
    height: auto;
}

.right-panel {
    width: 75%;
}

@media screen and (max-width:1024px) {
    .card {
        width: 100%;
    }

    .container {
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        width: 96vw;
    }

    .left-panel {
        width: 100%;
        min-height: auto;
    }

    .right-panel {
        width: 100%;
        max-height: 400px;
    }

    h1 {
        font-size: 2.5rem;
    }
}